* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
}

.card {
	background-color: white;
	background-image: url('./images/bg-pattern-mobile.svg');
	background-repeat: no-repeat;
}