* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
}

main {
	background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	height: 100vh;
	padding: 1.5rem;
	position: relative;
}

.mobileimage {
	position: absolute;
	left: 11%;
	top: 4%;
	z-index: 1;
}

.card {
	position: relative;
	padding: 8rem 1rem 1rem 1rem;
	margin-top: 7rem;
	background-color: white;
	background-image: url('./images/bg-pattern-mobile.svg');
	background-repeat: no-repeat;
	background-position: center top;
	border-radius: 10px;
	box-shadow: 0 10px 25px black;
	&__picture {
		position: absolute;
		left: 7%;
		top: -22%;
		display: none;
	}
	&__title {
		text-align: center;
		color: hsl(237, 12%, 33%);
		font-size: 26px;
		margin-bottom: 1rem;
	}
	&__item {
		border-bottom: 1px solid hsl(240, 5%, 91%);
		padding: 0.5rem 0;
		&>div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&>img {
				width: 10px;
				height: 7px;
			}
		}
		&:hover {
			& * {
				color: orange;	
			}
		}
	}
	&__question {
		color: hsl(240, 6%, 50%);
		font-size: 12px;
	}
	&__answer {
		color: hsl(240, 6%, 50%);
		font-size: 12px;
		display: none;
	}
}